<!DOCTYPE html>
<html>
<head>
    <title>Messenger(Unofficial)</title>
    <meta charset="UTF-8">
    <link href="../public/css/style.css" rel="stylesheet">
</head>
<body>
<div id="toolbar">
    <i class="logo"></i>
    <h1>Messenger(Unofficial)</h1>
    <i class="mini"></i>
    <i class="max"></i>
    <i class="close"></i>
</div>
<div id="main-view">
    <img src="../public/img/loading.gif" class="loading"/>
    <webview sandbox="allow-same-origin allow-scripts allow-popups allow-forms" id="fb-view" class="viewer" autosize="on" preload="../public/js/injector.js" src="https://www.messenger.com/login" linkout disablewebsecurity></webview>
</div>

</body>
<script>
    require('../public/js/renderer.js')
</script>
</html>